.slide {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transform: translateY(-2.4rem);
}

.title,
.subtitle {
  font-weight: 700;
  color: #fff;
}

.title {
  font-size: 7.2rem;
  line-height: 1;
  text-transform: uppercase;
}

.subtitle {
  font-size: 5.6rem;
  line-height: 1;
}

.image {
  position: relative;
  width: 37rem;
  height: 34rem !important;
}
