.button {
  border-radius: var(--border-radius);
  padding: 1.6rem 3.2rem;
  font-size: var(--font-size);
  line-height: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: none;
}

.primary {
  background-color: var(--red-color);
  color: var(--bg-color);
}

.outline {
  background-color: transparent;
  color: var(--red-color);
  border: 1px solid var(--red-color);
}

.transparent {
  background-color: transparent;
  color: var(--red-color);
}

.small {
  padding: 0.7rem 3.2rem;
}

.fullWidth {
  width: 100%;
}
