.header {
  height: 12.2rem;
  background-color: #000000;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 9.6rem;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 6.4rem;
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: var(--title-size-sm);
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 4px;
  background-color: var(--red-color);
  transition: width 0.3s ease;
  opacity: 0;
}

.link:hover::after,
.link.active::after {
  width: 4.8rem;
  opacity: 1;
}
